#headerContainer {
    background-color: rgba(37, 124, 95, 0.808);
    height: 100px;
    color: #fff;
    position: relative;
}

#title {
    text-align: center;
}

nav {
    display: flex;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

a {
    display: flex;
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    transition: 0.3s;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

a:hover {

    cursor: pointer;
    background-color: aquamarine;
    border-radius: 4px;
    height: 2rem;


}